

.span{
	cursor:pointer;
	white-space:nowrap;
}

.lineheight{
	line-height:1.7;
	/* border:1px solid #BFD4DA;*/	
	margin-left:20px;
	
}

/* em{
	font-weight:bold;
} */
.marginleft{
	margin-left:20px;
	/* border:1px solid #BFD4DA; */
	line-height:1.7;
	/* margin-bottom:20px; */
}
.vode{
	width:285px;
	height:200px;
	margin-left:30px;
    border:1px solid #BFD4DA;
	margin-bottom:20px
}
#whleft{
	width:285px;
	height:200px;
	float:left;
}